<form class="flex flex-col ">
    <div class="flex flex-row gap-2 text-3xl">
        <span class="">Entradas de:</span> 
        <h1 class="text-2xl content-center font-bold">{{this.blogTitle()}}</h1>
    </div>
    <div class="flex flex-row">
        <p-floatlabel variant="on">
            <input pInputText id="inputTitle" [formControl]="this.contentForm" autocomplete="off" />
            <label for="inputTitle">Ingrese su entrada al blog</label>
        </p-floatlabel>
        <p-button class="pl-2" label="crear" icon="pi pi-check" iconPos="right" (onClick)="postEntry()"/>
    </div>
</form>